<div id="carouselCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="carousel-image carousel-image-1"></div>
      <div class="carousel-caption d-none d-md-block">
        <h3>Упрощенное использование маткапитала на обучение</h5>
        <p class="h6">Для оплаты обучения средствами материнского капитала достаточно подать заявление в электронном или бумажном виде в  ПФР. Все прочие документы пенсионный фонд запросит самостоятельно.</p>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-image carousel-image-2"></div>
      <div class="carousel-caption d-none d-md-block">
        <h3>Проактивное оформление сертификата на материнский капитал</h3>
        <p class="h6">С 15 апреля 2020 года сертификат на материнский капитал оформляется автоматически. Информация о получении семьей материнского капитала направляется в личный кабинет владельца сертификата на сайте Пенсионного фонда России или портале Госуслуг. Семья может распоряжаться материнским капиталом, получив сертификат в электронной форме в беззаявительном порядке.</p>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-image carousel-image-3"></div>
      <div class="carousel-caption d-none d-md-block">
        <h3>Электронная трудовая книжка</h3>
        <p class="h6">1 января 2020 года в России введена электронная трудовая книжка. Переход к новому формату трудовой книжки добровольный и позволяет сохранить бумажную книжку. Электронная книжка обеспечит постоянный и удобный доступ работников к информации о своей трудовой деятельности, а работодателям откроет новые возможности кадрового учета.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselCaptions"  data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselCaptions"  data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>