<nav aria-label="Page navigation" class="mt-5">
  <ul class="pagination justify-content-center">
    <li class="page-item {% if pagination.current < 2 %} disabled {% endif %}">
      <a class="page-link" href="/profile/orders/{{ pagination.current - 1 }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>

    {% for page in 1..pagination.total %}
      <li class="page-item {% if pagination.current == page %} active {% endif %}">
        <a class="page-link" href="/profile/orders/{{ page }}">{{ page }}</a>
      </li>
    {% endfor %}
    <li class="page-item {% if pagination.current > pagination.total - 1 %} disabled {% endif %}">
      <a class="page-link" href="/profile/orders/{{ pagination.current + 1 }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>