<div class="service w-100 d-flex align-items-start mb-5" >
  <img src={{ service.icon }} alt="" class="icon">
  <div class="px-4">
    <a href="/services/{{ service.id }}">
      <h5 class="card-title">{{ service.title }}</h5>
    </a>
    <p class="card-text">{{ service.description }}</p>
  </div>
</div>