{% extends 'layouts/base.twig' %}

{% block content %}
  <h4 class="text-center">
    {% if status %}
      Услуга заказана успешно.
    {% else %}
      Произошла ошибка, попробуйте снова.
    {% endif %}
  </h4>
{% endblock %}