RewriteEngine On

RewriteCond %{REQUEST_URI} ^/resources.*$
RewriteRule ^(.*)$ - [L,NC]

RewriteCond %{THE_REQUEST} /public/([^\s?]*) [NC]
RewriteRule ^ %1 [L,NE,R=302]
RewriteRule ^((?!public/).*)$ public/$1 [L,NC]