* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

textarea {
  resize: none;
}

html, body {
  height: 100%;
}

.nav-menu {
  flex-grow: 0;
}

.nav-item {
  list-style: none;
}

.service {
  max-width: 30rem;
}

.service a {
  color: inherit;
  text-decoration: none;
}

.service a:hover {
  text-decoration: underline;
}

.icon {
  width: 5rem;
}

.carousel-image {
  height: 600px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.carousel-image-1 {
  background-image: url("/resources/images/img-1.jpg");
}

.carousel-image-2 {
  background-image: url("/resources/images/img-2.jpg");
}

.carousel-image-3 {
  background-image: url("/resources/images/img-3.jpg");
}

.carousel-indicators button {
  width: 4rem !important;
}